.logo{
	border-bottom: 3px solid aqua;
}

.middle{
	background-color: darkslategray;
}

.middle p{
	color: white;
}

.h1{
	color: white;
}

.bottom{
	border-top: 5px solid aqua;
}

.bottom img{
	height: 100px;
}

.h3 a{
	color: white;
	font-weight: 700;
}
