{% extends "projects/base.html" %}

{%block navbar%}
	<ul class="nav navbar-nav">
		<li><a href="{% url "index" %}">Home</a></li>
		<li><a href="{% url "about" %}">About</a></li>
		<li><a href="{% url "proj_list" %}">Projects</a></li>
		<li class="active"><a href="{% url "contact" %}">Contact</a></li>
	</ul>
{%endblock%}

{%block content%}
	<div class="well">
		<!--<form action="/contact/" method="get">
			<div class="form-group">
				<label for="inputEmail">Email address:</label>
				<input type="email" name="inputEmail" class="form-control" placeholder="example@example.com">
			</div>
			<div class="form-group">
				<label for="inputSubject">Subject:</label>
				<input type="text" name="subject" class="form-control">
			</div>
			<div class="form-group">
				<label for="inputText">Message:</label>
				<textarea name="message" class="form-control custom-control" rows="10" style="resize:none"></textarea>
			</div>
			<div class="checkbox">
				<label>
					<input name="cc" type="checkbox"> CC
				</label>
			</div>
			<button class="btn btn-medium btn-primary" type="submit">Submit</button>
		</form>-->
		<form action="/contact/" method="POST">
			{%csrf_token%}
			{{form.as_p}}
			<button class="btn btn-medium btn-primary" type="submit">Submit</button>
		</form>
	</div>
{%endblock content%}
