{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="max-w-screen-lg w-full p-6">
	<p class="font-semibold text-yellow-800 text-2xl">{{ article.title }}</p>
	<p class="text-slate-500 text-lg">{{ article.locale_date }}</p>
    {% if article.author %}
        <p class="text-slate-800 text-lg">
            By: <a href="{{ SITEURL }}/{{ article.author.url }}" class="text-yellow-800 hover:underline">{{ article.author }}</a>
        </p>
    {% endif %}
    
    <div prose class="prose py-6 text-lg text-pretty text-stone-800 leading-relaxed" style="font-family: Montserrat, sans-serif">
        {{ article.content }}
    </div>

	{% if article.tags %}
        <p class="text-slate-800 text-lg">
            Tags: 
		    {% for tag in article.tags %}
                <a class="text-yellow-800 hover:underline" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{{ "," if not loop.last else "" }}
			{% endfor %}
		</p>
    {% endif %}
</div>
{% endblock %}
