{% extends "base.html" %}

{% block content %}
    <div class="hero w-full mt-6">
      <div class="hero-content w-full flex-col space-y-10 md:flex-row md:space-x-20">
        <div>
          <p class="text-4xl font-bold text-yellow-800 text-center" style="font-family: Shadows Into Light, sans-serif;">
            Acting <i class="fa fa-arrows-to-dot"></i> Travel<br>Software Engineering
          </p>
        </div>
        <img
          src="{{ SITEURL }}/images/profile.jpg"
          class="max-[420px]:max-w-full rounded-lg shadow-2xl object-contain min-[420px]:max-w-sm h-128" />
      </div>
    </div>
{% endblock %}
