{% extends "base.html" %}

{% block content %}
	<div class="flex flex-col space-y-10 max-w-screen-lg w-full p-6">
		{% for article in articles_page.object_list %}
			<div class="flex flex-col">
				<p class="font-semibold text-yellow-800 text-2xl">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
				</p>
				<p class="text-slate-500 text-xl">{{ article.locale_date }}</p>
				{% if article.tags %}
					<div class="flex flex-row space-x-2">
                        <p class="text-slate-800 text-xl">Tags: </p>
						<div class="flex flex-row space-x-2">
							{% for tag in article.tags %}
                                <div class="flex flex-row">
                                    <p class="text-yellow-800 text-xl hover:underline"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></p>
                                    <p class="text-slate-800 text-xl">{{ "," if not loop.last else "" }}</p>
                                </div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
                {% if article.summary %}
                    <div class="flex flex-col pt-2">
				        <div class="text-slate-800 text-xl">
					        {{ article.summary }}
				        </div>
                        <p class="text-yellow-800 text-xl"><a class="read-more" href="{{ SITEURL }}/{{ article.url }}">Continue reading »</a></p>
                    </div>
			    {% endif %}
            </div>
		{% endfor %}
	</div>
{% endblock %}
