.logo{
	border-bottom: 3px solid aqua;
}

.middle{
	background-color: darkslategray;
}

.middle p{
	color: white;
}

.jumbotron{
	background-color: darkslategray;
}

.jumbotron p, h4, h2, h1{
	color: white;
}

.h1{
	color: white;
}

.bottom{
	border-top: 5px solid aqua;
}

.bottom img{
	height: 100px;
}




