{% extends "projects/base.html" %}

{%block navbar%}
	<li><a href="{% url "index" %}">Home</a></li>
	<li class="active"><a href="{% url "about" %}">About</a></li>
	<li><a href="{% url "proj_list" %}">Projects</a></li>
	<li><a href="{% url "extras" %}">Extras</a></li>
{%endblock%}

{% block content %}
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<h2>About</h2>
				</div>
				<div class="col-md-9">
					<p style="font-size: 15px; font-family: arial">
						<strong>So far, this website has been hard-coded in HTML and CSS<br>
						as I learned and practiced those languages. However, I am now <br>
						taking the website down temporarily to move it to Django, a <br>
						Python web-framework. This would allow me to easily add projects <br>
						without hard-coding a new page, and would help make the website <br>
						more dynamic.</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
