<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Eyob W.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="includes/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="includes/styles.css" type="text/css">
	</head>
	<body style="background-color: lightslategray">
		
		<div class = "container-fluid">
		
			<div class="logo">
				<div class="container-fluid">
					<h4>Eyob Woldeghebriel <small>A Web Developer</small></h4>
				</div>
			</div>
			
			<p></p>
			
			<header class="top" role="header">			
				<div class="container-fluid">
					<nav class="navbar navbar-inverse" role="navigation">
						<div class = "navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
								<span class="glyphicon glyphicon-align-justify"></span>
							</button>
						</div>
						<div id="navbarCollapse" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">							
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href=#>About</a></li>
								<li><a href="projects.html">Projects</a></li>
								<li><a href="extras.html">Extras</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			
			<p></p>
			
			<div class="jumbotron">				
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<h2>About</h2>
						</div>
						<div class="col-md-9">
							<p style="font-size: 15px; font-family: arial">
								<strong>So far, this website has been hard-coded in HTML and CSS<br>
								as I learned and practiced those languages. However, I am now <br>
								taking the website down temporarily to move it to Django, a <br>
								Python web-framework. This would allow me to easily add projects <br>
								without hard-coding a new page, and would help make the website <br>
								more dynamic.</strong>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bottom">
				<div class="container-fluid">
					<p>Contact @ eyobworrede@outlook.com</p>
					<blockquote class="pull-right">
						<p>"Raspberry Pis are amazing."</p>
						<small>by <cite>Eyob Woldeghebriel</cite></small>
					</blockquote>
				</div>
			</div>
			
			<p></p>
			
		</div>
		
		<script src="includes/jquery/jquery-1.11.1.min.js"></script>
		<script src="includes/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>