{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Eyob W.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "css/includes/bootstrap/css/bootstrap.min.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "css/includes/styles.css" %}" type="text/css">
	</head>
	<body style="background-color: #008080">

		<div class = "container-fluid">

			<header class="top" role="header" style="padding: 25px">
				<div class="container-fluid">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="container">
							<div class = "navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
									<span class="glyphicon glyphicon-align-justify"></span>
								</button>
								<a href=# class="navbar-brand">
									Eyob W.
								</a>
							</div>
							<div id="navbarCollapse" class="collapse navbar-collapse">
								{%block navbar%}
								{%endblock%}
								<form action="/search/" method="get" role="search" class="navbar-form navbar-right">
									<div class="input-group form-group">
										<input class="form-control" type="text" name="q" placeholder="Search">
										<span class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
									</div>
								</form>
							</div>
						</div>
					</nav>
				</div>
			</header>

			<p></p>

			{%block content%}
			{%endblock%}

			<p></p>

			<div class="bottom">
				<div class="container-fluid">
					<p>Contact @ eyobworrede@outlook.com</p>
					<blockquote class="pull-right">
						<p>"Raspberry Pis are amazing."</p>
						<small>by <cite>Eyob Woldeghebriel</cite></small>
					</blockquote>
				</div>
			</div>

		</div>

		<script src="{% static "css/includes/jquery/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "css/includes/bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>
