{% extends "projects/base.html" %}

{% block content %}
	<div class="jumbotron">
		<h2>Extras</h2>
		<p>A few cool videos I've found:</p>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h4>Epic Rap Battle:</h4>
				<iframe width="420" height="315"
				src="http://www.youtube.com/v/KfkR5o_bcSg"></iframe>
			</div>
			<div class="col-md-4">
				<h4>Physics Class Fail:</h4>
				<iframe width="420" height="315"
				src="https://www.youtube.com/v/O1P31kmMmiM"></iframe>
			</div>
			<div class="col-md-4">
				<h4>Close-up:</h4>
				<iframe src="https://www.youtube.com/v/7vTdadA2VN8"
				width="420" height="315"></iframe>
			</div>
		</div>
	</div>
{% endblock content %}			
