{% extends "projects/base.html" %}

{%block navbar%}
	<ul class="nav navbar-nav">
		<li class="active"><a href="{% url "index" %}">Home</a></li>
		<li><a href="{% url "about" %}">About</a></li>
		<li><a href="{% url "proj_list" %}">Projects</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url "contact" %}">Contact</a></li>
	</ul>
{%endblock%}

{% block content %}page to learn more.</p>

	<div class="carousel slide" id="myCarousel" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">

			{% for post in posts %}
				<div class="item {% if forloop.first %} active {% endif %}">
					<a href="{% url "proj_display" pk=post.pk %}"><img src="{{post.carousel_pic.address}}" alt="Blue Code Wall" class="img-responsive"></a>
					<div class="carousel-caption">
						<h3>{{post.title}}</h3>
					</div>
				</div>
			{% endfor %}

			<a href="#myCarousel" class="carousel-control left" data-slide="prev">
				<span class="icon-prev"></span>
			</a>

			<a href="#myCarousel" class="carousel-control right" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
	</div>

	<div class="middle well">
		<div class="container-fluid">
			<div class="col-md-4">
				<h2>About</h2>
				<p>A short biography and information about me.</p>
				<a href="{% url "about" %}" class="btn btn-large btn-success">Go to About:</a>
				<p></p>
			</div>
			<div class="col-md-4">
				<h2>Projects</h2>
				<p>My interesting projects, in both software and hardware.</p>
				<a href="{% url "proj_list" %}" class="btn btn-large btn-success">Go to Projects:</a>
				<p></p>
			</div>
			<div class="col-md-4">
				<h2>Contact</h2>
				<p>An email form to contact me if you have any questions.</p>
				<a href="{% url "contact" %}" class="btn btn-large btn-success">Go to Contact:</a>
				<p></p>
			</div>
		</div>
	</div>
{% endblock content %}
