<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Eyob W.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="includes/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="includes/styles.css" type="text/css">
	</head>
	<body style="background-color: lightslategray">
		<div class="container-fluid" >
			
			<div class="logo">
				<div class="container-fluid">
					<h4 style="color: white">Eyob Woldeghebriel <small>A Web Developer</small></h4>
				</div>
			</div>
			
			<p></p>
			
			<header class="top" role="header">			
				<div class="container-fluid">
					<nav class="navbar navbar-inverse" role="navigation">
						<div class = "navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
								<span class="glyphicon glyphicon-align-justify"></span>
							</button>
						</div>
						<div id="navbarCollapse" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">							
								<li class="active"><a href=#>Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="projects.html">Projects</a></li>
								<li><a href="extras.html">Extras</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			
			<p></p>
			
			<div class="jumbotron">
				<div class="container-fluid">
					<h1>Website is undergoing maintenance!</h1>
					<p>Look at the about page to learn more.</p>
				</div>
			</div>
			
			<div class="middle">
				<div class="container-fluid">
					<div class="col-md-4">
						<h2>About</h2>
						<p>A short biography and information about me.</p>						
						<a href="about.html" class="btn btn-large btn-success">Go to About:</a>
						<p></p>
					</div>
					<div class="col-md-4">
						<h2>Projects</h2>
						<p>My interesting projects, in both software and hardware.</p>
						<a href="projects.html" class="btn btn-large btn-success">Go to Projects:</a>
						<p></p>
					</div>
					<div class="col-md-4">
						<h2>Extras</h2>
						<p>Cool videos I've found.</p>
						<a href="extras.html" class="btn btn-large btn-success">Go to Extras:</a>
						<p></p>
					</div>
				</div>
			</div>
			
			<p></p>
			
			<div class="bottom">
				<div class="container-fluid">
					<p>Contact @ eyobworrede@outlook.com</p>
					<blockquote class="pull-right">
						<p>"Raspberry Pi's are amazing."</p>
						<small>by <cite>Eyob Woldeghebriel</cite></small>
					</blockquote>
				</div>
			</div>
			
		</div>
		
		<script src="includes/jquery/jquery-1.11.1.min.js"></script>
		<script src="includes/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>