{% extends "projects/base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container-fluid">
			<h1>Website is undergoing maintenance!</h1>
			<p>Look at the about page to learn more.</p>
		</div>
	</div>

	<div class="middle">
		<div class="container-fluid">
			<div class="col-md-4">
				<h2>About</h2>
				<p>A short biography and information about me.</p>
				<a href="about.html" class="btn btn-large btn-success">Go to About:</a>
				<p></p>
			</div>
			<div class="col-md-4">
				<h2>Projects</h2>
				<p>My interesting projects, in both software and hardware.</p>
				<a href="projects.html" class="btn btn-large btn-success">Go to Projects:</a>
				<p></p>
			</div>
			<div class="col-md-4">
				<h2>Extras</h2>
				<p>Cool videos I've found.</p>
				<a href="extras.html" class="btn btn-large btn-success">Go to Extras:</a>
				<p></p>
			</div>
		</div>
	</div>
{% endblock content %}
