{% extends "projects/base.html" %}

{%block navbar%}
	<ul class="nav navbar-nav">
		<li><a href="{% url "index" %}">Home</a></li>
		<li><a href="{% url "about" %}">About</a></li>
		<li class="active"><a href="{% url "proj_list" %}">Projects</a></li>
		<li><a href="{% url "extras" %}">Extras</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-divider"></li>
		<li><a href=#>Log In</a></li>
		<li><a href=#>Sign Up</a></li>
	</ul>
{%endblock%}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url "proj_list" %}">Projects</a></li>
		<li class="active">{{post}}</li>
	</ol>

  <div class="container-fluid">
    <h2>{{post}}</h2>
    <h4><b>Published: </b>{{post.published_date}}</h4>

    <p></p>

    <p>{{post.text}}</p>
  </div>
{% endblock content %}
