{% extends "projects/base.html" %}

{%block navbar%}
	<ul class="nav navbar-nav">
		<li><a href="{% url "index" %}">Home</a></li>
		<li><a href="{% url "about" %}">About</a></li>
		<li class="active"><a href="{% url "proj_list" %}">Projects</a></li>
		<li><a href="{% url "extras" %}">Extras</a></li>
	</ul>
{%endblock%}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url "proj_list" %}">Projects</a></li>
		<li class="active">{{post}}</li>
	</ol>

  <div class="container-fluid">
		<div class="well">
			<div class="row">
				<div class="col-md-4">
			    <h2>{{post}}</h2>
			    <h4><b>Published: </b>{{post.published_date}}</h4>
				</div>
				<img src="{{post.thumbnail.address}}" class="pull-right" style="height: 100px">
			</div>
		</div>
		<div class="well">
			<p>{{post.text}}</p>
			<p></p>
			{% for link in links %}
				<a href="{{link.address}}" class="btn btn-large btn-success">{{link.title}}</a>
			{% endfor %}
			<p></p>
			{% for picture in pictures %}
				<div class="row">
					<img src="{{picture.address}}" style="height: 200px; max-width: 95%;padding-left: 15px; padding-bottom: 15px">
				</div>
			{% endfor %}
		</div>
  </div>
{% endblock content %}
