{% extends "projects/base.html" %}
{% load staticfiles %}

{%block navbar%}
	<ul class="nav navbar-nav">
		<li><a href="{% url "index" %}">Home</a></li>
		<li><a href="{% url "about" %}">About</a></li>
		<li class="active"><a href="{% url "proj_list" %}">Projects</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url "contact" %}">Contact</a></li>
	</ul>
{%endblock%}

{% block content %}
	<div class="jumbotron">
		<h2>Projects</h2>
		<p>Here are all my interesting projects:</p>
	</div>

	<div class="middle">
		<div class="container-fluid">
			<div class="row">
				{% for post in posts %}
					<div class="col-md-4">
							<div class="well" style="padding-bottom: 10px">
								<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="{{post.thumbnail.address}}" style="width: 40px; height: 40px">
								    </a>
								  </div>
								  <div class="media-body">
								    <h4 class="media-heading"><a href="{% url "proj_display" pk=post.pk %}">{{post}}</a></h4>
								    <b>Updated: </b>{{post.published_date}}
								  </div>
								</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
