@import "https://unpkg.com/open-props";

body {
    margin-top: 60px;
    background-color: var(--stone-0);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink-2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

nav .navbar-brand {
    color: var(--choco-8);
    font-family: Pacifico, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: var(--size-5);
}
nav ul li:last-child {
    display: inline-block;
    margin: var(--size-5);
}
nav ul li a {
    color: var(--choco-8);
};
nav label a {
    color: var(--choco-8);
};

.checkbtn {
}

#check {
  display: none;
}


