{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="page" />
	<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ page.title }}</h1>
	<span class="post-date">{{ page.locale_date }}</span>
	{{ page.content }}

	{% if page.tags %}
		<span class="post-tags">
			Tags:
			<ul>
				{% for tag in page.tags %}
					<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</span>
	{% endif %}
</div>
{% endblock %}
